.popup__input-error {
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0;
    opacity: 0;
    height: 24px;
    max-width: 358px;
    position: absolute;
    top: 37px;
    padding-left: 36px;
}

.popup__input-error:nth-of-type(2) {
    top: 94px;
}

@media (max-width: 880px) {
    .popup__input-error {
        max-width: 238px;
        padding-left: 22px;
    }
}