.popup__container {
    background-color: white;
    width: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
}

@media (max-width: 880px) {
    .popup__container {
        width: 282px;
    }
}