.popup__header {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 64px 42px 36px;
    max-width: 330px;
}

@media (max-width: 880px) {
    .popup__header {
        margin: 25px 22px 69px 22px;
        max-width: 238px;
        font-size: 18px;
        line-height: 22px;
    }
}