.popup {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    visibility: hidden;
    opacity: .6;
    transition: visibility .1s, opacity .1s ease-in;
    justify-content: center;
    align-items: flex-start;
    padding-top: 195px;
    padding-bottom: 195px;
}

@media (max-width: 880px) {
    .popup {
        padding-top: 123px;
        padding-bottom: 123px;
    }
}